.menu li{
    /*ELIMINA LOS PUNTOS DE UNA LISTA*/
    list-style: none;
    /*CAMBIA LA DISPOSICION DE VERTICAL A HORIZONTAL*/
    display: inline-block;
    /*USO DE UNA NUEVA FUENTE
        TIPO    SIZE  FONT
          ↓       ↓     ↓     */
    font: bold 14px verdana;
    /*MANEJA EL BORDE DE EL ELEMENTO*/
    border: 1px solid salmon ;
    /*MANEJA EL COLOR*/
    background-color: #FDD554;
    /* MANEJA EL COLOR DE LA FUENTE */
    color:#72002C;
    /*MANEJA EL PADDING DEL ELEMENTO*/
    padding: 30px ;
    /*TAMBIEN SE PUEDE USAR CON UN VECTOR DE 4 O DESCOMPONER EN paddingRight
               T   R    B    L
    padding: 10px 20px 4px 30px;*/
    /*TAMBIEN SE PUEDE USAR EN VERTICAL Y HORIZONTAL
    padding: 30px 10px;*/
    /* LO MISMO SE PUEDE HACER CON EL MARGIN */
    margin: 10px;
}

.cabecera h1,h6{
    /* SE APLICA EL ALINEAMIENTO AL CONTENIDO DEL ELEMENTO */
    text-align: left;
    margin: 15px;
    color: #72002C;
}

.menu{
    text-align: center;
    font-weight: bolder;
}

h1{
    font-size: 30px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    text-align: center;
    background: #DAF7A6;
}

.agrupar{
    border: 1px solid black;
    background: rgb(255, 255, 255);
    width: 900px;
    margin: 15px auto;
}

.cabecera{
    background: #EE9683;
    border-style: solid none none none;
    border: 10px dotted #900C3F;
    padding: 20px;
}

.secction{
    float: left;
    width: 600px;
    margin: 10px;
}

article{
    background: #AD7C9E;
    border: 2px solid purple;
    margin: 15px 0px;
    padding: 20px;
}

time{
    color: rgba(255, 255, 255, 0.87)
}

footer h5{
    text-align: left;
    margin-top: 200px;
}

#referencias{
    width: 260px;
    float: right;
    margin: 20px 0px;
    margin-right: 10px;
    border: 2px solid #581845;
}

#referencias blockquote{
    border: 2px solid black;
    padding: 30px;
    background: #FDD554;
    color: #72002C;
    margin-bottom: 10px;
}

.pie{
    clear: both;
}

img{
    width: 220px;
    height: 200px;
    margin: 20px auto;
    float: inline-end ;
}